# ---- 不上传的文件夹 ----
archive/
repo/
rubrics/
rubrics_extracted/
logs/
baseline_from_indexes_vs/

# ---- 不上传的敏感文件 ----
.env

# ---- 不上传的临时脚本 ----
0_temp.py
1_Minuer_extraction.py
2_preprocess_corpora.py
3_RawText_emb.py
policy_docs_index_cleaned.json
thesis_corpus_index_cleaned.json
thesis_corpus_index.json
thesis-coach.pem
4_2_embed2qdrant_baseline.py
4_embed2qdrant.py
policy_docs_index.json
aws_host.readme
app_local.py
# ---- Python 缓存 ----
__pycache__/
*.pyc
*.pyo

# ---- 常见编辑器杂项 ----
.DS_Store
.idea